﻿@using Phase_1_Project_Team_3.Models
@model Phase_1_Project_Team_3.Models.InventoryItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>        
    }
</div>
<script>
    var inventoryInfo =  [@Model.Id];
    localStorage.inventoryInfo = JSON.stringify(inventoryInfo);
    console.log(localStorage.inventoryInfo);
    $('form').submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: '/api/Inventory/' + @Model.Id,
            type: 'DELETE',
            data: $('form').serializeArray(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function(data) {
                window.location = '/InventoryItems';
            }
        });
        
    });


</script>