﻿@model IEnumerable<Phase_1_Project_Team_3.Models.InventoryItem>

@{
    ViewBag.Title = "InventoryIndex";
}

<h2>Inventory Index</h2>

<p>
    @Html.ActionLink("Add New Item", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    <tbody data-bind="foreach: items">
        <tr>

            <td data-bind="text: Name"></td>
            <td data-bind="text: Quantity"></td>

            <td>
                <a class="btn btn-success" data-bind="attr: { 'href': '@Url.Action("Edit", "InventoryItems")/' + Id}"><b>Edit</b></a>
                <a class="btn btn-success" data-bind="attr: { 'href': '@Url.Action("Delete", "InventoryItems")/' + Id}"><b>Delete
                    </b></a>
            </td>

        </tr>
    </tbody>
</table>

<script src="/signalr/hubs"></script>
<script src="~/Scripts/signalrRequests.js"></script>