﻿@model Phase_1_Project_Team_3.Models.InventoryItem


@{
    ViewBag.Title = "InvenotryItem";

}

<h2>Buy Item</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>

    <div class="form-group" hidden="true">
        @Html.LabelFor(model => model.Id, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Id, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group" hidden="true">
        @Html.LabelFor(model => model.CreatedByUserId, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreatedByUserId, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.CreatedByUserId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buy" class="btn btn-default"/>
        </div>
    </div>

    </div>
}
<script>


    $('form').submit(function(e) {
        e.preventDefault();

        $.ajax({
            url: '/api/Inventory',
            type: 'POST',
            data: $('form').serializeArray(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function(data) {
                window.location = '/Home/Index';
            }
        });

    });
        

</script>



