﻿@model IEnumerable<Phase_1_Project_Team_3.Models.InventoryItem>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

            <tbody data-bind="foreach: items">
            <tr>

                <td data-bind="text: Name"></td>
                <td data-bind="text: Quantity"></td>
                <td>
                    <a class="btn btn-success" data-bind="attr: { 'href': '@Url.Action("BuyItem", "Home")/' + Id }"><b>Buy</b></a>
                </td>

            </tr>
            </tbody>

</table>



<script src="/signalr/hubs"></script>

<script src="~/Scripts/signalrRequests.js"></script>
    
